.futures {
  padding-top: 32px;
  &__inner {
    background: linear-gradient(
      51deg,
      rgba(9, 88, 250, 0.05) 13.86%,
      rgba(9, 250, 50, 0.05) 93.66%
    );
    backdrop-filter: blur(32px);
    padding: 21px 40px;
    border-radius: 20px;
    @include mediaPhone {
      padding: 24px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 19px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    gap: 24px 80px;
    @include mediaPhone {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }
  &__item {
    background: url('../img/marker.svg');
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding-left: 15px;
  }
  &__item-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
  }
  &__item-text {
    font-weight: 300;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);
  }
}
