.have-any-question {
  padding-top: 104px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    max-width: 510px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__form {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(32px);
    border-radius: 20px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    label {
      font-size: 12px;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.7);
      background: #1c1b1f;
      padding: 0 4px;
      max-width: 55px;

      margin-bottom: 8px;
    }
  }
  &__form-row {
    display: flex;
    flex-direction: column;
  }
}
