body,
html {
  min-height: 100%;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  background: #10141E;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

input,
area {
  border: none;
  &:focus {
    outline: none;
  }
}
