.nav {
  margin-right: 32px;
  &__list {
    display: flex;
    gap: 32px;
    font-weight: 400;
  }
  &__item {
    transition: color 0.2s ease-out;
    &:hover {
      color: #ffffff50;
    }
  }
}
